body {text-align:center;
    /*   background: var;
   linear-gradient(
   115deg,
   rgba(58, 58, 158, 0.8),
   rgba(136, 136, 206, 0.7)
   ), */
    background-image:
            url("https://cs10.pikabu.ru/post_img/big/2018/09/20/11/153746768119406797.jpg")  }
#title {color:white}
#description {color:white}
.submit-button{background-color: #37af65;
    cursor: pointer;
    width: 100%;}
#main { max-width: 540px;
    margin: 3.125rem auto 0 auto;}
#form {
    background-color: #dddddd